<VirtualHost *:80>
    ServerName {{ domain }}
    Redirect permanent / https://{{ domain }}/
</VirtualHost>

<VirtualHost *:443>
    ServerName {{ domain }}
    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/letsencrypt/live/{{ domain }}/fullchain.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ domain }}/privkey.pem

    <Directory /var/www/html>
        Require all granted
        AllowOverride All
        Options FollowSymLinks MultiViews
        Satisfy Any

        <IfModule mod_dav.c>
            Dav off
        </IfModule>
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/server-error.log
    CustomLog ${APACHE_LOG_DIR}/server-access.log combined
</VirtualHost>